<!DOCTYPE html>
<html x-data="main" class="" :class="[$store.app.mode]">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Premium Tailwind CSS Admin & Dashboard Template" />
    <meta name="author" content="Webonzer" />

    <!-- Site Tiltle -->
    <title>Snow - Tailwind CSS Admin & Dashboard Template</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body x-data="main" class="antialiased relative font-inter bg-white dark:bg-black text-black dark:text-white text-sm font-normal overflow-x-hidden vertical" :class="[ $store.app.sidebar ? 'toggle-sidebar' : '', $store.app.rightsidebar ? 'right-sidebar' : '', $store.app.menu, $store.app.layout]">

    

	<div>    
        <!-- End Content Area -->


    </div>
    <!-- End Main Content -->

    <!-- All javascirpt -->
    <!-- Alpine js -->
    <script src="/assets/js/alpine-collaspe.min.js"></script>
    <script src="/assets/js/alpine-persist.min.js"></script>
    <script src="/assets/js/alpine.min.js" defer></script>

    <!-- ApexCharts js -->
    <script src="/assets/js/apexcharts.js"></script>
    <script src="/assets/js/apexcharts-main.js"></script>

    <!-- Custom js -->
    <script src="/assets/js/custom.js"></script>
</body>

</html>